*{ padding:0; margin:0; }
body{ font-size:14px; }

body, input, textarea,a,:focus{
outline:none;
background-color:transparent;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-focus-ring-color: rgba(255, 255, 255, 0);

}


.fl{ float:left; }
.fr{ float:right; }
a{ color:#333;}
a,a:active,a:hover{ text-decoration:none; }
.wrap{ padding-bottom:45px; }
.home_logo{width: 100%;}
.home_copyright{ text-align:center; color:#a4a4a4; padding:7px 0; font-size:13px;}
.home_wrap{ margin:4px; }
.home_banner, .home_banner img{ width:100%; font-size:0; display:block; }
.home_banner{ padding-bottom:4px; }
:focus{ outline:none }
.home_eight{ overflow:hidden; }
/*.home_eight ul{margin-left: -6px;}*/
.home_eight li{ width:50%; float:left; display:inline; }
.home_eight img{ width:99%; }
.home_eight li:nth-child(2n) img{ -webkit-transform:translateX(1%); }
.home_eight a{ float:left;}
.footer{ height:45px; background-color:#000; position:fixed; bottom:-1px; width:100%;left:0;z-index: 10000;}
.footer ul{ width:100%; height:100%; }
.footer li{ float:left; display:inline; width:25%; height:100%; }
.footer a{ display:block; width:100%; height:inherit; position:relative; }

.footer_ico{ height:44px; display:block; background-repeat:no-repeat;background-position: center center; -webkit-transform:translateY(-50%) translateX(-50%); position:absolute; top:50%; left:50%; ); -webkit-background-size:50%;
background-size:50%; }
.footer_ico_1{ width:48px; background-image:url(images/ico_footer_home.png); }
.footer a:active .footer_ico_1,.selected .footer_ico_1{ background-image:url(images/ico_footer_home_pressed.png); }

.footer_ico_2{ width:42px; background-image:url(images/ico_footer_phone.png); }
.footer a:active .footer_ico_2,.selected .footer_ico_2{ background-image:url(images/ico_footer_phone_pressed.png); }

.footer_ico_3{ width:37px; background-image:url(images/ico_footer_member.png); }
.footer a:active .footer_ico_3,.selected .footer_ico_3{ background-image:url(images/ico_footer_member_pressed.png); }

.footer_ico_4{ width:48px; height:36px; background-image:url(images/ico_footer_return.png); }
.footer a:active .footer_ico_4,.selected .footer_ico_4{ background-image:url(images/ico_footer_return_pressed.png); }

.search_bar{ background-color:#333; padding:10px 0; }
.search_inner{ margin:0 9px; position:relative; height:30px; }
.search_input_wrap{ position:absolute; top:0; right:33px; left:0; padding:0 9px; height: 100%;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
background-color:#fff;
-webkit-box-shadow:inset 0 0 5px rgba(182, 182, 182, .55);
-moz-box-shadow:inset 0 0 5px rgba(182, 182, 182, .55);
box-shadow:inset 0 0 5px rgba(182, 182, 182, .55);
border:solid 1px #b4b4b4; }

.search_input{ width:100%;
height:100%;
border:none;
}
.search_btn{ width:35px; position:absolute; top:0; right:0;
height:30px;
-webkit-border-radius:0 6px 6px 0;
-moz-border-radius:0 6px 6px 0;
border-radius:0 6px 6px 0;
background-color:#064d9a;
border:solid 1px #953a09;
background-image:-webkit-linear-gradient(bottom, #d78524, #f1e96b);
background-image:-moz-linear-gradient(bottom, #d78524, #f1e96b);
background-image:-o-linear-gradient(bottom, #d78524, #f1e96b);
background-image:linear-gradient(to top, #d78524, #f1e96b); }

.ico_search{ display:block; background-repeat:no-repeat; background-image:url(images/ico_search.png); width:100%; height:100%; -webkit-background-size:60%;
background-size:60%; background-position:center center;}

.pro_listWrapper{ position:absolute;top: 50px;left: 0; overflow:hidden;bottom: 45px;width: 100%;}
.pro_list{}
.pro_item{ padding:15px 11px; overflow:hidden; background-image:-webkit-linear-gradient(bottom, #dedede, #f2f2f2);display:block;color:#333;
background-image:-moz-linear-gradient(bottom, #dedede, #f2f2f2);
background-image:-o-linear-gradient(bottom, #dedede, #f2f2f2);
background-image:linear-gradient(to top, #dedede, #f2f2f2);
border-bottom:1px solid #ccc;
}
.pro_item:active{background-image:-webkit-linear-gradient(bottom, #f2f2f2, #dedede);
background-image:-moz-linear-gradient(bottom, #f2f2f2, #dedede);
background-image:-o-linear-gradient(bottom, #f2f2f2, #dedede);
background-image:linear-gradient(to top, #f2f2f2, #dedede);}
.grey{ color:#999; }
.yellow{ color:#f27a20;}
.pro_item .title{ font-weight:bold; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-bottom:5px; }
.pro_item .detail{ color:#999; line-height:1.4; padding-bottom:5px; }
.pro_item .detail *{display: inline;}
.pro_item .price .fl{ color:#f27a20; font-size: 12px;}
.pro_item .price .fl .grey{ text-decoration: line-through;}
.pro_item .price .fl span:first-child{ font-size:22px;font-weight: bold;padding-right: 5px;}


.pro_detail{ padding-top:5px;}
.pro_detail .top{ margin:5px; position:relative; position:relative; }
.pro_detail .top img{ width:100%; }
.pro_detail .btns .yellow{ font-size:22px;}
.pro_detail .btns .grey{text-decoration:line-through;padding-right: 22px;}
.top_txt_box{ position:absolute; left:0; bottom:0; right:0;
text-align:center; background-color:rgba(0, 0, 0, .5); padding:12px; }
.top_txt{ font-size:16px; color:#fff; }
.detail_img{width: 100%;}

/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
background:#fff;
height:40px;
line-height:40px;
padding:5px 10px;
border-bottom:1px solid #ccc;
font-weight:bold;
font-size:14px;
color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
display:block; float:left;
width:40px; height:40px;
background:url(images/pull-icon.png) 0 0 no-repeat;
-webkit-background-size:40px 80px; background-size:40px 80px;
-webkit-transition-property:-webkit-transform;
-webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
background-position:0 100%;
-webkit-transform:rotate(0deg) translateZ(0);
-webkit-transition-duration:0ms;

-webkit-animation-name:loading;
-webkit-animation-duration:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
from { -webkit-transform:rotate(0deg) translateZ(0); }
to { -webkit-transform:rotate(360deg) translateZ(0); }
}



.btn_yellow{ color:#fff; font-size:20px; display:inline-block; padding:10px 30px;
-webkit-border-radius:8px;
-moz-border-radius:8px;
border-radius:8px;
background-color:#fff3e9;
-webkit-box-shadow:inset 1px 2px rgba(255, 204, 0, .75);
-moz-box-shadow:inset 1px 2px rgba(255, 204, 0, .75);
box-shadow:inset 1px 2px rgba(255, 204, 0, .75);
border:solid 1px #c74701;
background-image:-webkit-linear-gradient(bottom, #df6904, #f3913e);
background-image:-moz-linear-gradient(bottom, #df6904, #f3913e);
background-image:-o-linear-gradient(bottom, #df6904, #f3913e);
background-image:linear-gradient(to top, #df6904, #f3913e); }

.btn_yellow:active{ -webkit-border-radius:8px; background-image:none;
-moz-border-radius:8px;
border-radius:8px;
background-color:#f48221; }
.btn_yellow_2{ color:#fff; font-size:20px; display:inline-block; padding:10px 30px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #f48221;
-webkit-box-shadow: inset 1px 2px rgba(255,204,0,.75);
-moz-box-shadow: inset 1px 2px rgba(255,204,0,.75);
box-shadow: inset 1px 2px rgba(255,204,0,.75);
border: solid 1px #c74701;
}
.btn_yellow_2:active{ -webkit-border-radius:8px; background-image:none;
-moz-border-radius:8px;
border-radius:8px;
background-color:rgba(199, 71, 1, 0.87); -webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none; }

.btn_black{color:#fff; font-size:20px; display:inline-block; padding:10px 30px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #666;}
.btn_black:active{ background-color:#000;}

.btn_green{color:#fff; font-size:20px; display:inline-block; padding:10px 40px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #92d050;
}
.btn_green:active{ background-color:#79ad42;}
.btn_red{color:#fff; font-size:20px; display:inline-block; padding:10px 40px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #f00;
}
.btn_red:active{ background-color:#bd0000;}

.btns{ padding:15px; text-align:center; vertical-align:top; }
.btns a{ margin:2px 6px; }

.detail_text{ font-size:16px; margin:5px 9px 9px; border:1px solid #b6b6b6; border-radius:5px; margin-bottom:9px; padding:5px; line-height:1.5 ; text-indent:2em;}
.detail_text img{width: 100%;}

.feed{ -webkit-user-select:none; }
.feed .title{ font-size:18px; color:#666; background-color:#e0e0e0; text-align:center; padding:19px 0; }

.feed .tip{ color:#f48221; font-size:18px; line-height:1.6; padding:12px 20px; }
.feed .item{ border:1px solid #b6b6b6; background-color:#fef9e6; margin:0 9px 6px; padding:8px; border-radius:5px; }


.feed .item_name{ padding-left:11px; float:left; width:70px; -webkit-transform:translateY(50%); font-size:16px; }
.feed .item_name2{margin-top: -5px; }
.feed .item_content{ overflow:hidden; position:relative;}

.feed .item_area_box{ margin:0 0 0 9px; width:inherit; border:1px solid #b4b4b4; border-radius:5px; background-color:#fff; padding:0 8px;}
.feed .money:after{content:'元'; position:absolute;top: 0;right: 12px; z-index:99;-webkit-transform:translateY(50%);margin-top: 2px;}
.feed .item_area{ font-size:16px; padding:8px 0; background-color:transparent; border:none; width:100%; }

.feed .fr{ padding-right:9px; }
.feed .fr input{ width:15px; text-align:center; }
.feed .money{ text-align:right;}
.feed .money input{ text-align:right; position:relative;right: 19px;width: 90%;}
.feed .group{ margin-top:12px; }
.feed .group .item{ padding:8px; }
.feed_btn_wrap{padding:0 8px 8px;}
.feed_btn_wrap .btn_yellow,.feed_btn_wrap .btn_yellow_2{ display:block; text-align:center;}


.feed2 .item:not(:first-child) .txt_box{ position:relative;top: 5px;}

.btn_grey{
display:inline-block;
padding:4px 9px;
color:#666;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background-color:#534533;
border:solid 1px #efefed;
background-image:-webkit-linear-gradient(bottom, #f6f7f8, #fff);
background-image:-moz-linear-gradient(bottom, #f6f7f8, #fff);
background-image:-o-linear-gradient(bottom, #f6f7f8, #fff);
background-image:linear-gradient(to top, #f6f7f8, #fff);
}

.group{ margin:5px 9px 12px; border:1px solid #b6b6b6; border-radius:5px; }
.group_tc,.tc{ text-align:center;}
.group .item{ padding:12px 17px; font-size:16px; border-bottom:1px solid #b6b6b6; position:relative; border-top:none; border-left:none; border-right:none; background-color:#fff; margin:0; border-radius:0 }
.group .item:after{content:''; display:block;clear:both;}
.group .item2{padding:0px 7px 7px 12px}
.group .item:active{ background-color:#e9e9e9;}
.group_gra .item{background-image: -webkit-linear-gradient(bottom, #f3f3f3 21%, #fff);
background-image: -moz-linear-gradient(bottom, #f3f3f3 21%, #fff);
background-image: -o-linear-gradient(bottom, #f3f3f3 21%, #fff);
background-image: linear-gradient(to top, #f3f3f3 21%, #fff);}
.group_gra .item:active{ background-image:none;}
.group .item:first-child{ border-radius:5px 5px 0 0; }
.group .item:last-child{ border-radius:0 0 5px 5px; border:none; }
.group .txt_box{ margin-right:11px;word-wrap:break-word;word-break:break-all; }
.txt_box_order_detail{ line-height:1.4;}
.txt_box a{ display:block;}
.ico_arrow_east{ background-image:url(images/arrow_east.png); width:18px; height:23px; position:absolute; right:2px; top:50%; margin-top:-7px; -webkit-background-size:70%;
background-size:70%; background-repeat:no-repeat; }
.group .item_grey,.item_grey{ background-color:#e4e4e3; }
.group .item_grey_light{ background-color:#ebebea;}

.group .item_drop{ padding-top:0;padding-bottom: 0;}
.item_drop.on .ico_jib
,.item_drop.on .item_drop_content{ display:block;}
.item_drop_title{ position:relative; padding-top:12px;padding-bottom: 12px;}
.item_drop .ico_jib{ position:absolute;bottom: -1px;left: 9px;width: 29px;height: 16px; background-image:url(images/ico_jib.png); background-repeat:no-repeat; background-position:center bottom; -webkit-background-size:50%;
background-size:50%; display:none;}

.item_drop_content{ display:none; padding:12px 12px 9px 17px; border-top:1px solid #ccc; margin:0px -17px 0;}
.item_drop_content div{ overflow:hidden;  line-height:2;}
.item_drop_content img{ float:left; width:40%;margin-right: 12px;}


.txt_table{ overflow:hidden;}
.txt_table span{width: 33%; text-align:center; float:left; vertical-align:top;}
.txt_table span:first-child{width: 33%; text-align:left;}


.group_order .item{padding:10px 12px; font-size:14px;}
.group_order .item_grey_light,.group .item_grey{ font-size:16px;}



.txt_table_5{ overflow:hidden;}
.txt_table_5 span{width: 28%; text-align:center; float:left; vertical-align:top;}
.txt_table_5 span:first-child{width:0px; text-align:left;}
.txt_table_5 span:nth-child(2){ width:38%; margin-right: 6px; text-align:left;word-break:break-all;word-wrap:break-word;}



.input_box{ overflow:hidden; margin-left:4px;margin-top: 6px;}
.input_box input{ border:1px solid #b6b6b6;height: 28px;
box-shadow:inset 0 0 4px rgba(0,0,0,0.3);width: 95%;padding:0 4px; font-size:14px;}
.input_box textarea{ border:none; background-color:transparent; font-size:14px;width: 100%;height: 80px;}

.personal{ margin:12px;}
.personal .card{border-radius:5px; background-color:#f48221; overflow:hidden;}
.card_logo{ background-repeat:no-repeat; background-image:url(images/ico_logo.png);width: 202px;height: 104px; -webkit-background-size:66%;
background-size:66%; margin:20px;}
.card_id{ font-size:18px;font-weight:bold;line-height:1.6; color:#fff; text-align:right;padding-right: 20px;}


.card_tip{ text-align:center;padding: 12px 0; display:none;}
.card_micro{ background-repeat:no-repeat; background-image:url(images/ico_micro.png);width: 30px;height: 32px; vertical-align:middle; display:inline-block; -webkit-background-size:57%;
background-size:57%; background-position:center center;}
.card_tip span{ display:inline-block; vertical-align:middle;}


.per_btn_wrap{border: 1px solid #9a9a9a;background-color: #fff3e9; padding:20px 13px;border-radius:6px; margin-bottom:15px;}
.per_btn_wrap .btn_yellow{ display:block; text-align:center;}

.per_path{ background-color:#e4e4e4; padding:9px 8px;margin-bottom: 12px;}

.per_path_ico{ background-repeat:no-repeat; float:left; background-image:url(images/ico_vc.png);width: 20px;height:32px; -webkit-background-size:50%;
background-size:70%; background-position:0 4px;}

.per_path_content{ overflow:hidden; line-height:1.6;}
.per_path_content a{ display:block;}
.personal .group{margin-left: 0;margin-right: 0;}


.ico_phone{ background-image:url(images/ico_phone.png);}
.ico_loc{ background-image:url(images/ico_loc.png);}
.ico_phone,.ico_loc{ background-repeat:no-repeat; -webkit-background-size:67%;
background-size:67%; background-position:left center;width: 22px;height: 24px; display:inline-block; vertical-align:middle; float:left;}
.ico_check{ background-image:url(images/ico_check.png);width: 13px;height: 49px;margin-right: 5px; background-position:0 -5px;}
.ico_mobile{ background-image:url(images/ico_mobile.png); width:33px;height: 22px;display:inline-block; background-repeat:no-repeat; -webkit-background-size:67%;vertical-align:middle;
background-size:67%; background-position:left center; margin-right: -7px;}
.ico_mail{ background-image:url(images/ico_mail.png);width: 33px;height: 22px;display:inline-block;  background-repeat:no-repeat; -webkit-background-size:67%;vertical-align:middle;   background-size:67%; background-position:left center; margin-right: -7px;}
.ico_date{ background-image:url(images/ico_date.png);width: 32px;height: 22px;display:inline-block; background-repeat:no-repeat; -webkit-background-size:67%;vertical-align:middle;
background-size:67%; background-position:left center;  margin-right: -7px;}
.ico_name{ background-image:url(images/ico_name.png);width: 32px;height: 22px;display:inline-block; background-repeat:no-repeat; -webkit-background-size:67%;vertical-align:middle;
background-size:67%; background-position:left center;  margin-right: -7px;}
.ico_local{ position:relative;width: 32px;height: 22px;display:inline-block; vertical-align:middle; margin-right: -7px;
}
.ico_local:after{content:''; position:absolute;top: -3px;left: 0;right: 0;bottom: -4px; background-image:url(images/ico_local.png);background-repeat:no-repeat; -webkit-background-size:57%; background-size:57%; background-position:left center;}


.vam{ vertical-align:middle;}
.vam-dib{ vertical-align:middle; display:inline-block;}

.gotopay{margin-top: 5px;}
.tr{ text-align:right;}





.ui-ellipsis{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap }
.ui-item-acitve{ background-color:#f2f2f2 }
.ui-content-box, .ui-content-tip, .ui-content-scroll, .ui-btn-inner, .ui-footer, .ui-btn-txt, .ui-fb-name, .ui-btn-group .ui-btn{ font-size:14px }
.ui-ico{ background-image:url("images/ui-ico.png?201307016"); background-repeat:no-repeat; position:relative }
.ui-ico-submit, .ui-ico-cancel, .ui-ico-back{ width:34px; height:32px }
.ui-ico-prev, .ui-ico-next{ width:22px; height:20px; background-size:345px auto }
.ui-ico-submit{ background-position:-32px -48px }
.ui-ico-cancel{ background-position:2px -48px }
.ui-ico-greyclose{ background-position:0 -84px; width:16px; height:16px }
.ui-ico-prev{ background-position:-114px -38px }
.ui-ico-next{ background-position:-140px -38px }
.ui-ico-fj{ background-position:-44px -83px; width:19px; height:21px }
.ui-ico-star, .ui-ico-star-grey{ width:24px; height:23px }
.ui-ico-star{ background-position:-71px -84px }
.ui-ico-star-grey{ background-position:-102px -84px }
.ui-ico-search{ background-position:-136px -84px; width:23px; height:23px }
.ui-ico-unread{ background-position:-170px -84px; width:23px; height:20px }
.ui-ico-add{ background-position:-228px -54px; width:23px; height:23px }
.ui-ico-folder{ background-position:0 -137px; width:36px; height:33px }
.ui-ico-close{ background-position:-248px -84px; width:25px; height:25px }
.ui-ico-prompt{ background-position:-312px -84px; width:26px; height:26px; position:relative; top:6px }
.ui-ico-checkbox{ width:27px; height:27px }
.ui-ico-checkbox.uncheck{ background-position:-340px -50px }
.ui-ico-checkbox.check{ background-position:-304px -50px }
.ui-ico-checkbox.apart{ background-position:-268px -50px }
.ui-ico-folder-w{ background-position:-95px -184px; width:28px; height:26px }
.ui-ico-folder-g{ background-position:-48px -184px; width:28px; height:26px }
.ui-ico-folder-b{ background-position:-192px -184px; width:25px; height:21px }
.ui-ico-upload-g{ background-position:0 -184px; width:34px; height:26px }
.ui-ico-transfer-close, .ui-ico-transfer-upload{ width:34px; height:34px; border-radius:17px; -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3) }
.ui-ico-transfer-close:after, .ui-ico-transfer-upload:after{ content:''; background-image:url("images/ui-ico.png?201307016"); background-repeat:no-repeat; position:relative; display:inline-block; width:100%; height:100%; -webkit-transform:scale(0.75); transform:scale(0.75) }
.ui-ico-transfer-close:after{ background-position:-378px -84px }
.ui-ico-transfer-upload:after{ background-position:-349px -84px }
.ui-ico-transfer-close{ background-position:0 -220px }
.ui-ico-transfer-upload{ background-position:-40px -220px }
.wb-addr-add{ background-image:url("images/ui-ico.png?201307016"); background-repeat:no-repeat; position:relative; display:inline-block; background-position:-40px -220px; width:34px; height:34px }
.wb-addr-add:after{ background-image:url("images/ui-ico.png?201307016"); background-repeat:no-repeat; position:relative; display:inline-block; -webkit-transform:scale(0.75); transform:scale(0.75); background-position:-408px -84px }
.ui-ico-back{ background-position:-77px -51px }
.ui-ico-arrow-r{ background-position:-24px -84px; width:12px; height:22px }
.ui-ico-arrow-b{ background-position:0 -115px; width:16px; height:9px }
.ui-ico-arrow-t{ background-position:-209px -91px; width:25px; height:16px }
.ui-ico-album{ background-position:-143px -184px; width:29px; height:24px }
.ui-ico-arrow-b2{ background-position:-24px -115px; width:20px; height:11px }
.ui-ico-big-contact{ background-position:0 0 }
.ui-ico-big-feed{ background-position:-53px 0 }
.ui-ico-big-gcd{ background-position:-106px 0 }
.ui-ico-big-im{ background-position:-159px 0 }
.ui-ico-big-mail{ background-position:-212px 0 }
.ui-ico-big-recycle{ background-position:-262px 5px }
.ui-ico-big-reply{ background-position:-315px 5px }
.ui-ico-big-more{ background-position:-372px 5px }
@media only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (min--moz-device-pixel-ratio:1.3), only screen and (min-resolution:200dpi){
.ui-ico-star, .ui-ico-star-grey{ -webkit-transform:scale(0.75); transform:scale(0.75) }
.ui-ico-arrow-b, .ui-ico-search, .ui-ico-close, .ui-ico-arrow-r, .ui-ico-submit, .ui-ico-cancel, .ui-ico-back, .ui-ico-greyclose, .ui-ico-transfer-close, .ui-ico-transfer-upload, .wb-addr-add, .ui-ico-folder-w, .ui-ico-folder-g, .ui-ico-folder-b, .ui-ico-upload-g, .ui-ico-fj, .ui-ico-prompt{ background-size:345px auto }
.ui-ico-arrow-b{ background-position:0 -86px; width:12px; height:8px }
.ui-ico-search{ background-position:-101px -62px; width:18px; height:18px }
.ui-ico-close{ background-position:-185px -62px; width:20px; height:20px }
.ui-ico-arrow-r{ background-position:-18px -63px; width:12px; height:16.5px }
.ui-ico-submit, .ui-ico-cancel, .ui-ico-back{ width:25px; height:26px }
.ui-ico-submit{ background-position:-24px -33px }
.ui-ico-cancel{ background-position:3.5px -33px }
.ui-ico-back{ background-position:-56px -34px }
.ui-ico-greyclose{ background-position:2px -61px; width:16px; height:16px }
.ui-ico-transfer-close, .ui-ico-transfer-upload, .wb-addr-add{ width:26px; height:26px }
.ui-ico-transfer-close{ background-position:0 -165px }
.ui-ico-transfer-upload, .wb-addr-add{ background-position:-30px -165px }
.wb-addr-add{ background-image:url("images/ui-ico.png?201307016"); background-repeat:no-repeat; position:relative; display:inline-block }
.ui-ico-folder-w{ background-position:-71px -138px; width:21px; height:20px }
.ui-ico-folder-g{ background-position:-36px -138px; width:21px; height:20px }
.ui-ico-folder-b{ background-position:-144px -138px; width:21px; height:20px }
.ui-ico-upload-g{ background-position:0 -138px; width:26px; height:20px }
.ui-ico-fj{ background-position:-33px -62px; width:15px; height:16px }
.ui-ico-prompt{ background-position:-234px -63px; width:20px; height:20px; position:relative; top:5px }
}
.ui-btn{ position:relative; text-align:center; cursor:pointer; text-decoration:none; border:1px solid transparent; border-radius:5px; display:block }
.ui-btn-inner{ font-size:0; padding:5px 8px; min-width:.75em; display:block; position:relative; text-overflow:ellipsis; white-space:nowrap }
.ui-btn-txt{ font-size:16px }
.ui-btn-txt, .ui-txt{ display:block }
.ui-txt{ padding:.1em 0; width:100% }
.ui-btn-inline, .ui-ico{ display:inline-block }
.ui-mini .ui-btn-inner{ padding:3px }
.ui-btn-group{ font-size:0 }
.ui-btn-group .ui-btn{ border-radius:0; margin-left:-1px }
.ui-btn-group .ui-btn:first-child{ border-radius:5px 0 0 5px; margin-left:0 }
.ui-btn-group .ui-btn:last-child{ border-radius:0 5px 5px 0 }
.ui-bar-a{ background-color:#292929; border:1px solid #000 }
.ui-bar-b{ background-image:-webkit-gradient(linear, left top, left bottom, from(#8cbffc), to(#68a7f5)); background-image:-webkit-linear-gradient(#8cbffc, #68a7f5); color:#fff; border:1px solid #5885bc }
.ui-bar-c{ background-image:-webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eae9e9)); background-image:-webkit-linear-gradient(#f7f7f7, #eae9e9); color:#000; border-top:1px solid #c5c4c4 }
.ui-bar-t{ color:#fff; text-shadow:0 0 4px rgba(0, 0, 0, 0.8) }
.ui-btn-up-a:after, .ui-btn-up-b:after, .ui-btn-up-c:after, .ui-btn-up-e:after{ content:''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:1; border-radius:3px; -webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5) inset }
.ui-btn-up-a.ui-btn-active:after, .ui-btn-up-b.ui-btn-active:after, .ui-btn-up-c.ui-btn-active:after, .ui-btn-up-e.ui-btn-active:after{ box-shadow:none }
.ui-btn-up-a{ color:#2f2f2f; background-image:-webkit-gradient(linear, left top, left bottom, from(#787878), to(#5e5d5d)); background-image:-webkit-linear-gradient(#787878, #5e5d5d); border-color:#5b5a5a; text-shadow:0 1px 0 #9f9f9f }
.ui-btn-up-b{ color:#fff; background-image:-webkit-gradient(linear, left top, left bottom, from(#90c3ff), to(#6aaaf5)); background-image:-webkit-linear-gradient(#90c3ff, #6aaaf5); border-color:#487ebe }
.ui-btn-up-b.ui-btn-active{ background-image:none; background-color:#4176b7; box-shadow:none }
.ui-btn-up-c{ color:#000; border-color:#a9a9a9; background-image:-webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#ededed)); background-image:-webkit-linear-gradient(#fdfdfd, #ededed); text-shadow:0 1px 0 rgba(255, 255, 255, 0.5) }
.ui-btn-up-c.ui-btn-active{ background-image:-webkit-gradient(linear, left top, left bottom, from(#d3d4d6), to(#e8e9eb)); background-image:-webkit-linear-gradient(#d3d4d6, #e8e9eb) }
.ui-btn-up-e{ color:#fff; background-image:-webkit-gradient(linear, left top, left bottom, from(#e04242), to(#cc2d2d)); background-image:-webkit-linear-gradient(#e04242, #cc2d2d); border-color:#801616; text-shadow:-1px -1px 0 rgba(9, 11, 13, 0.74) }
.ui-btn-up-e.ui-btn-active{ background-image:-webkit-gradient(linear, left top, left bottom, from(#bd2e2e), to(#b52525)); background-image:-webkit-linear-gradient(#bd2e2e, #b52525) }
.ui-btn-up-g.ui-btn-active{ color:#fff; background-image:-webkit-gradient(linear, left top, left bottom, from(#60b912), to(#7cc918)); background-image:-webkit-linear-gradient(#60b912, #7cc918); border-color:#5c9e15 }
.ui-content-box .ui-btn-disabled, .ui-content-box .ui-btn-disabled.ui-btn-active{ border-color:#bebebe; background-image:none; background-color:#d8d8d8; color:#939393; text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); box-shadow:none }
.ui-header .ui-btn-disabled, .ui-footer .ui-btn-disabled{ opacity:.65 }
.ui-page{ padding-bottom:3em; min-height:100%; position:relative }
.ui-header, .ui-footer{ position:relative; border-width:1px 0; text-align:center; z-index:800 }
.ui-header .ui-title, .ui-footer .ui-title{ line-height:18px; font-weight:normal; font-size:18px; text-align:center; min-height:1.1em; margin:.7em 30% }
.ui-header .ui-title .ui-ellipsis, .ui-footer .ui-title .ui-ellipsis{ display:inline-block; max-width:93px }
.ui-header .ui-btn-left, .ui-footer .ui-btn-left, .ui-header .ui-btn-right, .ui-footer .ui-btn-right{ position:absolute; top:50%; margin-top:-16px }
.ui-header .ui-btn-left, .ui-footer .ui-btn-left{ left:7px }
.ui-header .ui-btn-right, .ui-footer .ui-btn-right{ right:7px }
.ui-footer .ui-title{ margin:0 22px; word-break:break-all; word-wrap:break-word }
.ui-header-fixed, .ui-footer-fixed{ position:fixed; left:0; right:0; width:100% }
.ui-header-fixed{ top:-1px; padding-top:1px }
.ui-footer-fixed{ bottom:-1px; padding-bottom:1px }
.ui-page-header-fixed{ padding-top:48px }
.ui-footer-fixed, .ui-confirm, .ui-mask, .ui-alert{ -webkit-backface-visibility:hidden }
.ui-fixed-hidden{ position:absolute }
.ui-footer-fixed.ui-fixed-hidden{ bottom:-1px }
.ui-no-footer{ padding-bottom:0 }
.ui-no-footer .ui-footer{ display:none }
.ui-no-header .ui-header{ display:none }
.ui-footer{ width:100%; bottom:0; left:0; right:0; -webkit-box-sizing:border-box; box-sizing:border-box; height:3.6em; padding:.8em 0 }
.ui-footer .ui-grid{ padding:0 7px }
.ui-footer .ui-btn{ border-radius:7px }
.ui-footer .ui-grid .ui-btn{ min-width:5em }
.ui-footer .ui-btn-up-c{ color:#000; border-color:#171717; background-image:-webkit-gradient(linear, left top, left bottom, from(#ddd), to(#a7a5a6)); background-image:-webkit-linear-gradient(#ddd, #a7a5a6) }
.ui-footer-nav{ margin:-0.8em 0 }
.ui-footer-nav .ui-btn{ display:block; border:0; border-radius:0; height:48px }
.ui-footer-nav .ui-btn-inner{ padding:.15em 0 0 }
.ui-footer-nav .ui-btn-active:not(.ui-btn-ico){ background-image:-webkit-gradient(linear, left top, left bottom, from(#191919), to(#282828)); background-image:-webkit-linear-gradient(#191919, #282828); box-shadow:0 1px 18px rgba(0, 0, 0, 0.38) inset }
.ui-footer-nav .ui-ico{ position:relative; top:5px; width:48px; height:42px; -webkit-transform:scale(0.75); transform:scale(0.75) }
.ui-footer-grid{ padding:0 9px }
.ui-grid{ display:-webkit-box; display:box }
.ui-grid > .ui-block{ -webkit-box-flex:1; -webkit-box-align:center; min-height:1px; -webkit-box-sizing:border-box; box-sizing:border-box; display:block }
.ui-inline{ display:inline-block }
.ui-badge{ font-size:16px; -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.8); border-radius:1em; width:24px; height:24px; text-align:center; line-height:24px; display:inline-block; position:absolute; right:-6px; top:-6px }
.ui-badge-green{ color:#fff; background-color:#75c000 }
.ui-greytxt{ color:#b1b1b1 }
.ui-content-tip, .ui-content-scroll{ position:relative; z-index:5 }
.ui-content-tip{ padding-bottom:41px; z-index:600 }
.ui-mask{ background-color:rgba(0, 0, 0, 0.3); position:fixed; top:0; left:0; right:0; bottom:0; z-index:1000 }
.ui-confirm{ position:fixed; z-index:1001; background-color:#eff3f4; box-shadow:0 0 6px rgba(0, 0, 0, 0.3); left:1em; right:1em; top:50% }
.ui-confirm-btngroup{ border-top:1px solid #99a3ae; box-shadow:0 1px 1px rgba(255, 255, 255, 0.5) }
.ui-confirm-btngroup .ui-btn{ display:block; text-align:center; border-left:1px solid #99a3ae; color:#444; border-radius:0 }
.ui-confirm-btngroup .ui-btn:first-child{ border:0 }
.ui-confirm-btngroup .ui-btn-inner{ padding:10px 12px; font-size:16px }
.ui-confirm-header{ padding:.7em 12px .5em; text-align:center; position:relative }
.ui-confirm-header:before, .ui-confirm-header:after{ content:''; left:0; position:absolute; width:100% }
.ui-confirm-header:before{ bottom:0; height:1px; background:-webkit-radial-gradient(center center, ellipse, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) }
.ui-confirm-header:after{ bottom:-4px; height:4px; background:-webkit-radial-gradient(top center, ellipse, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.02), rgba(255, 255, 255, 0)) }
.ui-confirm-content{ padding:1.2em 35px; text-align:center }
.ui-datepicker{ z-index:0; position:relative; margin:10px 1.1em 16px; border:1px solid #c0ccdc; border-radius:5px; -webkit-user-select:none; box-shadow:0 6px 9px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #fff; background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#d6dadf), to(#d6dadf), color-stop(0.5, #fff)) }
.ui-datepicker:after{ position:absolute; content:''; left:-0.5em; right:-0.5em; top:2em; bottom:2em; box-shadow:0 0 3px rgba(0, 0, 0, 0.2); background:-webkit-repeating-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 1px, transparent 4px) }
.ui-date-selectbox{ overflow:hidden; position:relative; height:6em; border-left:2px solid #53556c }
.ui-date-selectbox:first-child{ border:0 }
.ui-date-selectbox:first-child, .ui-date-top .ui-date-li:first-child{ -webkit-box-flex:1.8 }
.ui-date-list{ position:absolute; width:100%; line-height:2em; top:0; z-index:2 }
.ui-date-list:after, .ui-date-list:before{ content:''; height:2em; display:block; width:100% }
.ui-date-list .ui-date-li{ color:#888 }
.ui-date-list .ui-active{ color:#000 }
.ui-date-top{ margin:10px 1.1em 9px }
.ui-date-li{ text-align:center; -webkit-box-flex:1 }
.ui-date-li:first-child{ text-align:center }
.ui-fb .ui-header{ padding:.5em 0 .5em }
.ui-fb .ui-header .ui-btn-group{ display:inline-block }
.ui-fb .ui-header .ui-btn-group .ui-btn{ display:inline-block }
.ui-fb-label{ width:100%; height:100%; display:inline-block }
.ui-fb-item{ position:relative; border-bottom:1px solid #d0d0d0; padding:5px 9px; font-size:0 }
.ui-fb-item .ui-radio, .ui-fb-item .ui-fb-img, .ui-fb-item .ui-fb-name{ vertical-align:middle }
.ui-fb-item .ui-ico-arrow-r{ position:absolute; top:50%; right:9px; margin-top:-7px }
.ui-fb-item .ui-fb-img{ width:45px; height:38px }
.ui-fb-img{ margin:0 0 0 5px }
.ui-fb-name{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; position:absolute; top:1em; left:85px; right:39px }
.ui-photo-album{ padding:41px 0 0 }
.ui-photo-album .ui-item{ width:123px; display:inline-block; vertical-align:top; font-size:0; padding:0 0 24px 41px; text-align:center }
.ui-photo-album .ui-photo-thumb{ width:100%; height:93px; position:relative; margin:0 0 22px }
.ui-photo-album .ui-photo-thumb:after, .ui-photo-album .ui-photo-thumb:before{ content:''; position:absolute; background-color:#FFF; border:1px solid #c0c3c7; border-radius:4px; left:-10px; top:-10px; right:-10px; bottom:-10px; z-index:-1; box-shadow:0 1px 2px rgba(0, 0, 0, 0.2) }
.ui-photo-album .ui-photo-thumb .ui-photo{ width:100%; max-height:93px }
.ui-photo-album .ui-photo-thumb:before{ -webkit-transform:rotate(4deg) }
.ui-photo-album .ui-txt{ text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap }
.ui-photo-album .ui-photo-count{ line-height:24px; display:inline-block; margin:-42px 0 9px; position:relative; border:1px solid #c0c3c7; border-radius:28px; padding:6px 17px; font-size:14px; background-image:-webkit-gradient(linear, left top, left bottom, from(#f5f7f9), to(#f2f5f7)); background-image:-webkit-linear-gradient(#f5f7f9, #f2f5f7); box-shadow:0 2px 3px rgba(0, 0, 0, 0.2) }
.ui-photo-album .ui-ico-album{ position:relative; margin-right:4px; float:left }
.ui-search{ background-image:-webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e9e9e9)); background-image:-webkit-linear-gradient(#f7f7f7, #e9e9e9); padding:8px 11px; position:relative; z-index:200; border-bottom:1px solid #d0d0d0 }
.ui-search.ui-search-editing{ padding-right:64px }
.ui-search .ui-ico-search, .ui-search .ui-input-close{ position:absolute; top:50% }
.ui-search .ui-ico-search{ left:19px; margin-top:-8px }
.ui-search .ui-search-txt{ border-radius:2em; padding:.5em 31px .5em 31px; box-shadow:0 2px 3px rgba(0, 0, 0, 0.1) inset }
.ui-search .ui-input-close{ right:71px; margin-top:-11px }
.ui-search .ui-search-btn{ position:absolute; right:6px; top:50%; margin-top:-15px }
.ui-search-txt, .ui-input-txt{ -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; border:1px solid #bdbdbd; padding:.4em 16px .4em 16px; display:block; background-color:#fff }
.ui-userlist-wrap .ui-item{ position:relative; padding:7px 42px; display:block; border-bottom:1px solid #d0d0d0; box-shadow:0 1px 0 #fff inset }
.ui-userlist-wrap .ui-head{ width:36px; height:36px; border-radius:5px }
.ui-userlist-wrap .ui-checkbox, .ui-userlist-wrap .ui-username{ position:absolute; top:50% }
.ui-userlist-wrap .ui-checkbox{ left:13px; margin-top:-8px }
.ui-userlist-wrap .ui-username{ left:89px; margin-top:-8px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; right:22px }
.ui-userlist-wrap .ui-search{ padding-right:30px }
.ui-userlist-nav{ z-index:229; position:fixed; background-color:rgba(0, 0, 0, 0.1); top:2.9em; right:6px; border-radius:.55em; width:1.5em; padding:.3em 0 }
.ui-userlist-nav > li{ font-size:.6em; text-align:center; padding:.4em 0 }
.ui-userlist-nav-tip{ display:none; position:fixed; background-color:#fff; font-size:50px; height:62px; width:69px; line-height:62px; text-align:center; color:#5a5a5a; border-radius:12px 0 0 12px; top:50%; left:50%; z-index:1000; margin:-31px 0 0; box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); opacity:.8 }
.ui-userlist-nav-tip:after{ position:absolute; content:''; -webkit-transform:rotate(45deg); transform:rotate(45deg); background-color:#FFF; top:10px; right:-21px; width:43px; height:43px; z-index:-1; box-shadow:2px -2px 4px rgba(0, 0, 0, 0.1) }
.ui-divider{ padding:.5em 12px; border-bottom:1px solid #d0d0d0 }
.ui-usertitle{ background-image:-webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eae9e9)); background-image:-webkit-linear-gradient(#f7f7f7, #eae9e9); color:#000; border-top:1px solid #c5c4c4; padding:.5em 12px; border-bottom:1px solid #d0d0d0; border-top:0 }
.ui-user-group{ padding-left:12px; display:none }
.ui-user-group .ui-usertitle{ margin-left:-12px }
.ui-user-group .ui-active > .ui-span:after{ background-color:#f2f2f2 }
.ui-user-group .ui-span{ padding:.75em 8px .75em 0; position:relative }
.ui-user-group .ui-span:after{ top:0; bottom:0; right:-999px; left:-99px; border-top:1px solid #fff; border-bottom:1px solid #b9b9b9; z-index:-1 }
.ui-user-group .ui-span:before{ width:8px; height:8px; border-radius:5px; top:50%; left:-11px; margin-top:-5px; background-color:#ccc }
.ui-user-group .ui-span:before, .ui-user-group .ui-span:after{ content:''; position:absolute }
.ui-user-group .ui-item-txt{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; margin-right:31px }
.ui-user-group .ui-btn{ position:absolute; right:12px; top:50%; margin-top:-10px }
.ui-user-group .ui-item-1 > .ui-span:before{ background-color:#57c015 }
.ui-group-open > .ui-span > .ui-btn{ -webkit-transform:rotate(180deg) }
.ui-group-open > .ui-user-group{ display:block }
.ui-user-group-wrap{ display:block; overflow:hidden }
.ui-user-group-wrap > .ui-item > .ui-span:before{ background-color:transparent }
.ui-group-bottom-btn{ background-color:#fff; z-index:612; box-shadow:0 1px 4px rgba(0, 0, 0, 0.1); text-align:center; padding:12px 0 8px }
.ui-group-bottom-btn:before, .ui-group-bottom-btn:after{ content:''; left:0; position:absolute; width:100% }
.ui-group-bottom-btn:before{ bottom:0; height:1px; background:-webkit-radial-gradient(center center, ellipse, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) }
.ui-group-bottom-btn:after{ top:-4px; height:4px; background:-webkit-radial-gradient(bottom center, ellipse, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.02), rgba(255, 255, 255, 0)) }
.ui-actionsheet{ z-index:1001; position:fixed; left:0; right:0; bottom:0; background-color:#000; padding:.7em 26px }
.ui-actionsheet .ui-item{ padding:.2em 0 .7em }
.ui-actionsheet .ui-item.txt{ padding-bottom:.5em; color:#fff; text-align:left }
.ui-actionsheet .ui-item:last-child{ padding:0 }
.ui-actionsheet .ui-block{ padding:0 .7em 0 0 }
.ui-actionsheet .ui-block:last-child{ padding:0 }
.ui-alert{ z-index:1001; border-radius:.55em; background-color:rgba(0, 0, 0, 0.5); padding:1em 35px; color:#e4e4e4; position:fixed; top:50%; left:50% }
.ui-progress{ position:relative; top:2px; border-radius:7px; height:10px; background-color:#d1d1d1 }
.ui-progress-inner{ position:absolute; left:0; top:0; bottom:0; border-radius:7px; background-color:#539af9 }
.ui-download{ text-align:center; padding:6em 103px }
.ui-download .ui-download-ico{ width:60px; height:60px }
.ui-download .ui-title{ padding:12px 0; word-break:break-all; word-wrap:break-word; margin:0 -2em }
.ui-download .ui-progress{ margin-top:32px; margin-bottom:32px }
.ui-download .ui-btn{ margin-bottom:18px }
.ui-media{ text-align:center; overflow:hidden; position:absolute; left:0; top:47px; right:0; bottom:0 }
.ui-media-img{ position:absolute; top:0; left:0 }
.ui-loading{ display:inline-block; width:25px; height:25px; background-image:url(images/ui-loading.gif); position:relative; top:5px; margin-right:4px }
.ui-pull-loading{ text-align:center; background-color:#f5f5f5; padding:.9em 0 }
.ui-pull-loading .ui-ico-pull{ background-position:-287px -88px; width:15px; height:19px; position:relative; top:3px; margin-right:8px }
.ui-pull-loading .ui-pull-txt{ font-size:16px; color:#5c5c5c; text-shadow:0 1px 0 #fff; padding-bottom:6px }
.ui-pull-down.flip .ui-ico-pull{ -webkit-transform:rotate(180deg) }
.ui-pull-up .ui-ico-pull{ -webkit-transform:rotate(180deg) }
.ui-pull-up.flip .ui-ico-pull{ -webkit-transform:rotate(0deg) }
.ui-null-tip{ font-size:16px; text-align:center; position:fixed; left:0; right:0; top:50%; margin-top:-0.5em }
.ui-vam{ vertical-align:middle }
input[type="checkbox"]{ -webkit-margin-end:3px; background:#f5f5f5; border-radius:3px; border:2px solid #dfdfdf }
input[type="checkbox"]:checked:before{ content:''; height:20px; width:20px; left:-2px; top:-3px; position:absolute; background-image:url("images/ui-ico.png?201307016"); background-size:345px auto; background-position:-228px -37.5px }
input[type="radio"]{ -webkit-box-shadow:inset 0 1px 2px #fff, 0 1px 2px rgba(0, 0, 0, 0.2); -webkit-margin-end:3px; -webkit-transition:border 500ms; background:#fff; border-radius:100%; border:1px solid #a0a0a0 }
input[type="radio"]:checked{ -webkit-box-shadow:inset 0 1px 0 #fff, 0 1px 2px #d7d7d6 }
input[type="radio"]:checked:before{ -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5); -webkit-margin-start:4px; background:gray; border-radius:10px; content:''; display:inline-block; font-size:13px; height:5px; left:0; margin:6px 0 0 7px; opacity:1; position:absolute; top:0; vertical-align:top; width:5px }
input[type="radio"]:not(:disabled):not(:active):hover{ background:#fafafa }
input[type="radio"], input[type="checkbox"]{ height:20px; width:20px; -webkit-appearance:none; -webkit-margin-start:0; display:inline-block; margin-bottom:0; position:relative }
input[type="checkbox"]:disabled, input[type="radio"]:disabled{ opacity:.75 }
.ui-label{ display:block }
.ui-label-input{ top:4px }
.ui-page .ui-label-error{ background-color:#fef4eb; border-bottom-color:#ffc5a3 }
.ui-select{ -webkit-appearance:button; text-align:center }
.ui-btn .ui-select{ opacity:0; position:absolute; z-index:2; top:0; right:0; width:100%; height:100% }
.ui-btn input[type="radio"], .ui-btn input[type="checkbox"]{ position:absolute; top:0; left:0; opacity:0; z-index:-1 }
.ui-textarea{ height:1.3em; overflow:hidden; display:block; border:0; resize:none; width:100%; min-height:2.1em; -webkit-box-sizing:border-box; box-sizing:border-box; padding:5px 9px; line-height:1.3em; -webkit-transition:height 200ms linear }
.ui-setting-box{ margin:1em .7em }
.ui-setting-group{ border-radius:5px; border:1px solid #cbd0d9; box-shadow:0 1px 0 #fff inset }
.ui-setting-item{ position:relative; border-top:1px solid #cbd0d9; box-shadow:0 1px 0 #fff inset }
.ui-setting-item .ui-inner-txt{ padding:1.2em .8em; display:block }
.ui-setting-item .ui-setting-row{ padding:.5em .8em }
.ui-setting-item .ui-greytxt{ font-size:12px; padding:5px 0 0 }
.ui-setting-item:first-child{ border:0; box-shadow:none }
.ui-setting-item .ui-slider-switch{ position:absolute; top:50%; right:.8em; margin:-16px 0 0 }
.ui-slider-switch{ display:inline-block; height:30px; width:5em }
.ui-slider-switch > .ui-btn{ position:absolute; top:0; text-align:center; overflow:hidden; height:100%; font-size:16px; line-height:2; right:0; text-indent:1.6em }
.ui-slider-switch > .ui-btn:first-child{ left:0; text-indent:-1.7em }
.ui-slider-switch .ui-btn-txt{ pointer-events:none }
.ui-slider-inner{ position:relative; z-index:1; margin:0 14px }
.ui-slider-inner > .ui-btn{ width:30px; height:30px; position:absolute; z-index:1; top:50%; left:0; margin:0 0 0 -16px }
.ui-share{ text-align:center; margin:0 -35px; position:relative; overflow:hidden }
.ui-share .ui-greentick{ display:inline-block; width:58px; height:58px; background-image:-webkit-gradient(linear, left top, left bottom, from(#a4e13a), to(#73d126)); background-image:-webkit-linear-gradient(#a4e13a, #73d126); border:2px solid #fff; border-radius:30px; position:relative }
.ui-share .ui-greentick:after{ content:''; position:absolute; width:31px; height:15px; border-style:solid; border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff #fff; border-radius:6px; border-width:0 0 6px 6px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); top:50%; left:50%; margin:-16px 0 0 -17px }
.ui-share .ui-txt{ padding:.6em 0; border-bottom:1px solid #cbd0d9; box-shadow:0 1px 0 rgba(255, 255, 255, 0.9) inset }
.ui-share-scroll{ position:relative; overflow-y:auto }
.ui-share-shadow{ position:relative; height:0 }
.ui-share-shadow:before, .ui-share-shadow:after{ content:''; left:0; position:absolute; width:100% }
.ui-share-shadow:before{ bottom:0; height:1px; background:-webkit-radial-gradient(center center, ellipse, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) }
.ui-share-shadow:after{ bottom:0; height:4px; background:-webkit-radial-gradient(bottom center, ellipse, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.02), rgba(255, 255, 255, 0)) }
.ui-txt-green{ color:#5eb312; border-bottom:1px solid #cbd0d9; padding:1em 0 }
.ui-share-apps{ text-align:left; box-shadow:0 1px 0 rgba(255, 255, 255, 0.9) inset; padding:12px 17px }
.ui-share-apps .ui-item{ margin-bottom:5px; overflow:hidden; padding:7px 13px; background-color:#f8f8f8; box-shadow:0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.2) }
.ui-share-apps .ui-img{ float:left; width:35px; height:35px; margin-right:12px }
.ui-share-apps .ui-span{ overflow:hidden; line-height:35px }
.ui-transition{ -webkit-transition:all .2s ease-in .1s }
@-webkit-keyframes slideinfromtop{
from{ -webkit-transform:translateY(-100%); transform:translateY(-100%) }
to{ -webkit-transform:translateY(0); transform:translateY(0) }
}
@-webkit-keyframes slideouttotop{
from{ -webkit-transform:translateY(0); transform:translateY(0) }
to{ -webkit-transform:translateY(-100%); transform:translateY(-100%) }
}
@-webkit-keyframes slideinfrombottom{
from{ -webkit-transform:translateY(100%); transform:translateY(100%) }
to{ -webkit-transform:translateY(0); transform:translateY(0) }
}
@-webkit-keyframes slideouttobottom{
from{ -webkit-transform:translateY(0); transform:translateY(0) }
to{ -webkit-transform:translateY(100%); transform:translateY(100%) }
}
.slideup, .slidedown{ -webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden }
.slideup.in{ -webkit-transform:translateY(0); transform:translateY(0); -webkit-animation-name:slideinfrombottom; -webkit-animation-duration:250ms }
.slideup.out{ -webkit-transform:translateY(100%); transform:translateY(100%); -webkit-animation-name:slideouttobottom; -webkit-animation-duration:200ms }
.slidedown.in{ -webkit-transform:translateY(0); transform:translateY(0); -webkit-animation-name:slideinfromtop; -webkit-animation-duration:250ms }
.slidedown.out{ -webkit-transform:translateY(100%); transform:translateY(100%); -webkit-animation-name:slideouttotop; -webkit-animation-duration:200ms }